body {
  font-family: 'Poppins', sans-serif !important;
  color: #3B3C3B;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  background: #FAFAFA;
  height: 100%;
  min-height: 100vh;
  max-height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
}

html.content-pdf-button {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

img.content-pdf-button {
  height: 24px;
  width: 24px;
  margin-right: 4px;
}

span.content-pdf-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

html.content-pdf-button:hover {
  text-decoration: underline;
}

div:has(> #timeTrackerPanelTooltip) > button {
  border: 0;
}

/*================/RESET================*/

/*================FONTS================*/

@font-face {
  font-family: "Poppins";
  src: url("../src/styles/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../src/styles/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../src/styles/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../src/styles/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../src/styles/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}
/*================/FONTS================*/

/*================GLOBAL_VAR================*/


/*================/GLOBAL_VAR================*/
